$colors: (
    basic50: #f8f9fb,
    basic500: #9ba6b2,
    basic700: #4e5c6e,
    accent50: #e9e9eb,
    disabled500: #999999,
    black: #000000,
    white: #ffffff,
    submit200: #bacaf4,
    submit400: #e85e4a,
    submit500: #e85e4a,
    submit600: #e85e4a,
    success400: #4aad02,
    error500: #ef4829,
    info400: #8dabc4,
    mixUnicorn: #ab7df6,
    iceBlue: #eef0f3,
    paleBlue: #dee3ea,
);

$layout: (
    padding-right: 48px,
    padding-left: 48px,
    padding-top: 36px,
    padding-bottom: 0px,
    lg: (
        padding-right: 38px,
        padding-left: 38px,
    ),
    md: (
        padding-right: 18px,
        padding-left: 18px,
    ),
);

$current_menu_item: (
    left: -#{map-get($layout, padding-left)},
    width: 2px,
    lg: (
        left: -#{map-deep-get($layout, "lg", "padding-left")},
    ),
    md: (
        left: -#{map-deep-get($layout, "md", "padding-left")},
    ),
);

$scroll_button_size: 28px;
$scroll_button_hover_size: 38px;
$scroll_button: (
    right: map_get($layout, "padding-right") - $scroll_button_size / 2,
    lg: (
        right: map-deep-get($layout, "lg", "padding-right") -
            $scroll_button_size / 2,
    ),
    md: (
        right: map-deep-get($layout, "md", "padding-right") -
            $scroll_button_size / 2,
    ),
);

$mobile_menu: (
    width: 352px,
    md: (
        width: 332px,
    ),
);

$header: (
    hight: 44px,
    min-height: 44px,
    title_width: 316px,
);

$card: (
    padding-right: 24px,
    padding-left: 24px,
    padding-top: 24px,
    padding-bottom: 24px,
    sm: (
        padding-right: 14px,
        padding-left: 14px,
    ),
);

$card_inner: (
    padding-right: 24px,
    padding-left: 24px,
    padding-top: 24px,
    padding-bottom: 24px,
    sm: (
        padding-right: 8px,
        padding-left: 8px,
    ),
);

$panel_empty: (
    margin-top: 88px,
    sm: (
        margin-top: 24px,
    ),
);

$card_column: (
    width: 154px,
    sm: (
        width: 124px,
    ),
);

$blocks_columns: (
    timestamp: (
        width: 25%,
        md: (
            width: 240px,
        ),
    ),
    target: (
        width: 10%,
        md: (
            width: 100px,
        ),
    ),
    txs: (
        width: 10%,
        md: (
            width: 80px,
        ),
    ),
);

$address_tr_list_columns: (
    timestamp: (
        width: 120px,
        lg: (
            width: 100px,
        ),
        md: (
            display: none,
        ),
    ),
    amount: (
        width: 200px,
        md: (
            width: 180px,
        ),
    ),
    price: (
        width: 160px,
        md: (
            width: 130px,
        ),
    ),
);

$address_alias_list_columns: (
    letter: (
        width: 120px,
        lg: (
            width: 100px,
        ),
        sm: (
            width: 50px,
        ),
    ),
);

$nodes_columns: (
    version: (
        width: 17%,
        md: (
            width: 120px,
        ),
    ),
    height: (
        width: 17%,
        md: (
            width: 140px,
        ),
    ),
    target: (
        width: 15%,
        md: (
            width: 120px,
        ),
    ),
    utxs: (
        width: 10%,
        md: (
            width: 60px,
        ),
    ),
    txs: (
        width: 10%,
        md: (
            width: 110px,
        ),
    ),
);

$breakpoints: (
    xxlg: 1920px,
    xlg: 1600px,
    lg: 1366px,
    md: 1024px,
    sm: 800px,
);

$social: (
    github: "../images/github-28.svg",
    facebook: "../images/facebook-28.svg",
    twitter: "../images/twitter-28.svg",
    discord: "../images/discord-28.svg",
    telegram: "../images/telegram-28.svg",
    reddit: "../images/reddit-28.svg",
);

$font: (
    family: Roboto,
    weight: 400,
    headline1_size: 24px,
    headline2_size: 18px,
    headline3_size: 16px,
    body_size: 14px,
);
